
#productos{
    min-height: 300px;
    margin: 0 auto;
}
#descripcion{
    margin: 10px auto;
    max-width: 800px;
    
}
.imgproducto{
    left: 40%;
    right: 40%;
}
#gal1,#gal2,#gal3,#gal4,#gal5{
    width: 100%;
    
    float: left;
    position: relative;
}
#gal1 a,#gal2 a,#gal3 a,#gal4 a,#gal5 a{
    
}
section{
    
}
#gal1 img,#gal2 img,#gal3 img,#gal4 img,#gal5 img{
    position: relative;
    left: 10px;
    padding: 20px;
}

#productos img:hover{
    filter: alpha(opacity=100) 3000;
      opacity: 0.5;
      background: #2f2d2d;
}
.active img{
    border:2px solid #333 !important;
    background: #4e4141;
}
#flecha{
    margin: 0 auto;
    position: relative;
    left: 95%;
}
#flecha img{
    max-width: 40px;
}
.imgunica{
    display: none;
}
@media only screen and (max-width : 500px){
    .imgproducto{
        display: none;
        height: 10px;
    }
    .active img{
        border: 0px !important;
        background: none;
    }
    #img_01,#img_02,#img_03,#img_04,#img_05{
        max-width: 100%;
        padding: 10px !important;
    }
    #gal1 a,#gal2 a,#gal3 a,#gal4 a,#gal5 a{
        pointer-events: none;
        cursor: default;
    }
    .imgunica{
        display: inherit;
    }
}