#mapa{
    float: right;
    text-align:center;
    align-content: ;
 margin: 3.5%;
    max-width: 500px;
     
}
#reseña{
    text-align:left;
    margin: 2.5%;
  
}
#figura{

    max-width: 500px;
    padding: 2em;
    margin: 2em;
    
}

   
    