#listado_productos{
    list-style: none;
    display: inline-block;
    ul{
        
    }
    li{
        width: 250px;
        float: left;
        img{
            max-width: 250px;
            width: 100%;
            margin: 1em;
            padding: 1em;
        }
        img:hover{
            filter:alpha(opacity=100)3000;
            opacity: 0.5;
            background: #2f2d2d;
        }
    }
}
#banner{
    display: block;
}
#productos{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    p{
        background: red;
    }
}
/*
header{
    display: none;
}
#encabezado{
    display: none;
}*/